<!-- form-cobroker.html -->
<div flash-message="1250"></div>
<a class="btn btn-success" data-toggle="modal" data-target="#newCobrokerModal" data-backdrop="static">
    <span class="glyphicon glyphicon glyphicon-plus"></span>
    Add Co-broker
</a>

<div class="row" style="margin-top: 20px">
    <!-- cobroker thumbnail -->
    <div class="col-sm-6 col-md-4" ng-repeat="cobroker in formData.cobrokers">
        <div class="thumbnail">
            <h4 style="text-align: center;font-weight: bold">Co-broker Info</h4>
            <div class="caption">
                <p>
                    <span style="float: left;width: 45px;text-align: right">Agency&nbsp;</span><span>&nbsp;:</span>
                    <span style="font-weight: bold">
                        {{cobroker.agency | limitTo:18}}
                        <span ng-show="{{cobroker.agency.length > 15}}">...</span>
                    </span>
                </p>
                <p>
                    <span style="float: left;width: 45px;text-align: right">Name&nbsp;</span><span>&nbsp;:</span>
                    <span style="font-weight: bold">
                        {{cobroker.name | limitTo:18}}
                        <span ng-show="{{cobroker.name.length > 15}}">...</span></span></p>
                <p>
                    <span style="float: left;width: 45px;text-align: right">Contact&nbsp;</span><span>&nbsp;:</span>
                    <span style="font-weight: bold">
                        {{cobroker.contact | limitTo:18}}
                        <span ng-show="{{cobroker.contact.length > 15}}">...</span>
                    </span>
                </p>
                <p style="text-align: center;margin-top: 20px;margin-bottom: 0;padding: 0;">
                    <a class="btn btn-primary" role="button" ng-click="editPreview(cobrokers, $index)"
                       data-toggle="modal" data-target="#cobrokerEditModal"  data-backdrop="static">
                        &nbsp;&nbsp;Edit&nbsp;&nbsp;
                    </a>
                    <a class="btn btn-danger" role="button" ng-click="remove(cobrokers, $index)">
                        Delete
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<hr>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3 row">
        <a ui-sref="form.billing" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>

<!-- New Co-broker Modal -->
<div class="modal fade" id="newCobrokerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="newCobrokerModalLabel" style="text-align: center;font-weight: bold">Customer
                    Information</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Co-broker Agency</label>
                    <select class="form-control" ng-model="newEntry.agency">
                        <option>DWG</option>
                        <option>ERA</option>
                        <option>PROPNEX</option>
                        <option>OrangeTee</option>
                    </select>
                    <label>Co-broker Name</label>
                    <input type="text" class="form-control" ng-model="newEntry.name">
                    <label>Co-broker Contact Number</label>
                    <input type="text" class="form-control" ng-model="newEntry.contact">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newObject(cobrokers)">Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="cobrokerEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cobrokerEditModalLabel" style="text-align: center;font-weight: bold">
                    Edit Customer Information
                </h4>
            </div>
            <div class="modal-body">
                <div style="margin-top: 15px">
                    <label>Co-broker Agency</label>
                    <select class="form-control" ng-model="editing.agency">
                        <option>DWG</option>
                        <option>ERA</option>
                        <option>PROPNEX</option>
                        <option>OrangeTee</option>
                    </select>
                    <label>Co-broker Name</label>
                    <input type="text" class="form-control" ng-model="editing.name">
                    <label>Co-broker Contact Number</label>
                    <input type="text" class="form-control" ng-model="editing.contact">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" role="button" data-dismiss="modal">
                    &nbsp;&nbsp;Save&nbsp;&nbsp;
                </a>
            </div>
        </div>
    </div>
</div>