<!-- form-customer.html -->

<div class="form-group">
    <label for="idNo">NRIC/Passport No</label>
    <input type="text" class="form-control" name="idNo" ng-model="custInput.idNo">
</div>

<div class="form-group">
    <label for="name">Customer Name</label>
    <input type="text" class="form-control" name="name" ng-model="custInput.name">
</div>

<div class="form-group">
    <label for="contact">Contact Number</label>
    <input type="text" class="form-control" name="contact" ng-model="custInput.contact">
</div>

<div class="form-group">
    <label for="nationality">Nationality</label>
    <input type="text" class="form-control" name="nationality" ng-model="custInput.nationality">
</div>

<div class="form-group">
    <label for="address">Address</label>
    <span style="float: right">*Use first customer address<a ng-click="sameAddress()" class="btn btn-danger" style="height:22px;padding: 0;width: 130px">Use Same Address</a></span>
    <textarea type="text" class="form-control" name="address" ng-model="custInput.address" style="resize: vertical"></textarea>
</div>


<div class="form-group row">
    <div class="col-xs-3">
        <input type="button" ng-click="addCustomer()" class="btn btn-success" style="float:left" value="Save Customer"/>
    </div>
    <div class="col-xs-9">
        <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal"  style="float: right" value="View Customer"/>
    </div>
</div>


<hr>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3 row">
        <a ui-sref="form.cobroker" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="customerModalLabel" style="text-align: center;font-weight: bold">Customer Information</h4>
            </div>
            <div flash-message="1250"></div>
            <div class="modal-body">
                <li ng-repeat="customer in formData.customers" style="list-style: none">
                    <span style="display: inline-block; width: 100%">[{{$index + 1}}] {{customer.idNo}}-{{customer.name}}     <a class="btn" ng-click="remove(customers, $index)" style="float: right;height: 15px;padding: 0">&times;</a></span>
                </li>
                <li ng-if="!customers.length > 0" style="list-style: none">
                    No customers saved!
                </li>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>