<!-- form-billing.html -->
<div flash-message="1250"></div>
<a class="btn btn-success" data-toggle="modal" data-target="#billingModal">
    <span class="glyphicon glyphicon glyphicon-plus"></span>
    Add Bill
</a>

<!-- bill thumbnails -->
<div class="row" style="margin-top: 20px">
    <div class="col-sm-6 col-md-4" ng-repeat="billing in formData.billings">
        <div class="thumbnail">
            <h4 style="text-align: center;font-weight: bold">Bill Info</h4>
            <div class="caption">
                <p ng-show="!editEnabled">S$ <span style="font-weight: bold">{{billing.amount}}</span></p>
                <p ng-show="!editEnabled">By <span style="font-weight: bold">{{billing.payer}}</span></p>
                <p ng-show="!editEnabled">On <span style="font-weight: bold">{{billing.date}}</span></p>
                <div style="margin-top: 15px" ng-show="editEnabled">
                    <label>Amount</label>
                    <input type="text" class="form-control" ng-model="editing.amount">
                    <label>Date</label>
                    <input type="date" class="form-control" ng-model="editing.date">
                    <label>Payer</label>
                    <input type="text" class="form-control" ng-model="editing.payer">
                    <label>Contact</label>
                    <input type="text" class="form-control" ng-model="editing.contact">
                    <label>Address</label>
                    <textarea type="text" class="form-control" ng-model="editing.address"
                              style="resize: vertical;">
                    </textarea>
                </div>
                <p style="text-align: center;margin-top: 10px;margin-bottom: 0;padding: 0;">
                    <a class="btn btn-primary" role="button" ng-click="editEnabled=true;editPreview(billings, $index)"
                       ng-show="!editEnabled">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                    <a class="btn btn-primary" role="button" ng-click="editEnabled=false;editObject(billings, $index)"
                       ng-show="editEnabled">&nbsp;&nbsp;Save&nbsp;&nbsp;</a>
                    <a class="btn btn-default" role="button" ng-click="editEnabled = false"
                       ng-show="editEnabled">Cancel</a>
                    <a class="btn btn-danger" role="button" ng-click="editEnabled=false;remove(billings, $index)"
                       ng-show="!editEnabled">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>


<hr>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3 row">
        <input type="submit" class="btn btn-block btn-info">
    </div>
</div>

<!-- Bill Modal -->
<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="billingModalLabel" style="text-align: center;font-weight: bold">Billing
                    Information</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="text" class="form-control" ng-model="newEntry.amount">
                    <label>Date</label>
                    <input type="date" class="form-control" ng-model="newEntry.date">
                    <label>Payer</label>
                    <input type="text" class="form-control" ng-model="newEntry.payer">
                    <label>Contact</label>
                    <input type="text" class="form-control" ng-model="newEntry.contact">
                    <label>Address</label>
                    <textarea type="text" class="form-control" ng-model="newEntry.address"
                              style="resize: vertical;">
                    </textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newObject(billings)">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Sharing Modal
<div class="modal fade" id="sharingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sharingModalLabel" style="text-align: center;font-weight: bold">Commission
                    Sharing</h4>
            </div>

            <div class="modal-body">
                <label>Example:</label>
                <div class="input-group">
                    <span class="input-group-addon">Agency-Cobroker Name</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon3" placeholder="Key in share amount here, leave blank if not applicable." disabled>
                </div>
                <div ng-repeat="cobroker in formData.cobrokers">
                    <div class="input-group" style="margin-top: 20px">
                        <span class="input-group-addon">{{cobroker.agency}}-{{cobroker.name}}</span>
                        <input type="text" value="{{cobroker.agency}}-{{cobroker.name}}" style="display: none"/>
                        <input type="text" class="form-control" aria-describedby="basic-addon3"/>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveCommShare()">Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->