<!-- rental.html -->

<div class="form-group">
    <label for="leasePrice">Lease Price</label>
    <input type="text" class="form-control" name="leasePrice" ng-model="formData.rental.leasePrice">
</div>

<div class="form-group">
    <label for="leaseStartDate">Lease Start Date</label>
    <input type="date" class="form-control" name="leaseStartDate" ng-model="formData.rental.leaseStartDate">
</div>

<div class="form-group">
    <label for="leaseDuration">Lease Duration (months)</label>
    <input type="text" class="form-control" name="leaseDuration" ng-model="formData.rental.leaseDuration">
</div>