<!-- resale.html -->

<div class="form-group">
    <label>Transaction Price</label>
    <input type="text" class="form-control" ng-model="formData.resale.tsacPrice">
</div>

<div class="form-group">
    <label>Valuation Price</label>
    <input type="text" class="form-control" ng-model="formData.resale.valuationPrice">
</div>

<div class="form-group">
    <label>Opt-Money Amount</label>
    <input type="text" class="form-control" ng-model="formData.resale.optMoney">
</div>

<div class="form-group">
    <label>Exercise Date</label>
    <input type="date" class="form-control" ng-model="formData.resale.exerciseDate">
</div>

<div class="form-group">
    <label>Completion Date</label>
    <input type="date" class="form-control" ng-model="formData.resale.completeDate">
</div>

<div class="form-group">
    <label>1st Appointment Date</label>
    <input type="date" class="form-control" ng-model="formData.resale.1stAppointDate">
</div>