<!-- resale.html -->

<div class="form-group">
    <label for="tsacPrice">Transaction Price</label>
    <input type="text" class="form-control" name="tsacPrice" ng-model="formData.resale.tsacPrice">
</div>

<div class="form-group">
    <label for="valuationPrice">Valuation Price</label>
    <input type="text" class="form-control" name="valuationPrice" ng-model="formData.resale.valuationPrice">
</div>

<div class="form-group">
    <label for="optMoney">Opt-Money Amount</label>
    <input type="text" class="form-control" name="optMoney" ng-model="formData.resale.optMoney">
</div>

<div class="form-group">
    <label for="exerciseDate">Exercise Date</label>
    <input type="date" class="form-control" name="exerciseDate" ng-model="formData.resale.exerciseDate">
</div>

<div class="form-group">
    <label for="completeDate">Completion Date</label>
    <input type="date" class="form-control" name="completeDate" ng-model="formData.resale.completeDate">
</div>

<div class="form-group">
    <label for="1stAppointDate">1st Appointment Date</label>
    <input type="date" class="form-control" name="1stAppointDate" ng-model="formData.resale.1stAppointDate">
</div>